h1{
    background-color: blue;
    color: white;
}
body{
    justify-content: flex-end;
    justify-content: flex-start;
    justify-content: center;
    margin: 0% 10% 0% 10%;
    padding: 13px;
    background-color: black;
}
.side{
    border: 15px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(45deg, blue, orange, pink);
    color: white;
    width: fit-content;
    float: left;
    padding: 10px;
    height: 100%;
}
img{
    justify-content: flex-end;
    justify-self: end;
    justify-items: end;
    float: right;
}
.sidebar{
    flex-grow: right;
    list-style: none;
    width: fit-content;
    
    border: 15px solid black;
    border-radius: 15px;
    background-color: gray;
    color: black;
    height: 100%;
    display: flex;
}
.sidebar .sidebarcon li:hover{
    background-color: orange;
    padding: 5px;
}
.sidebar .sidebarcon:hover{
    font-size: 14;
}
.sidebar{
    border: 5px solid black;

}
.sidebarcon{
    list-style: none;
    font-size: 10;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
a{
    text-decoration: none;
    color: black;
}
.skills{
    float: left;
    display: flex;
    height:100%;
    background: linear-gradient(45deg, blue, orange, pink);
    width:100%;
    padding:10px 10px 10px 10px;
    border: 15px solid black;
    border-radius: 15px;
}
.skills:hover{
    margin: 0;
    background: linear-gradient(45deg, pink, orange, blue);
    color: black;
    transition-duration: 1s;
    rotate: -5deg;
}

